/*regole comuni*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center; 
}
.flex-column{
    flex-direction: column;
}

body{
    font-family: 'Lato', sans-serif;
   
}

/*regole header*/
header{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    justify-content: flex-end;
    align-items: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.btn{
    margin: 5px;
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 6px;
}
/*regole main*/
main{
    background-color: #000; 
    flex-wrap: wrap;
    justify-content: center;  
}

.user{
    position: relative;
    margin: 5px;
    width: 300px;
    height: 150px;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user span{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(160,160,160,0.5);
    padding: 5px;
}

/*regole footer*/
footer{
    width: 100%;
    min-width: 1110px;
    height: 100px;
    background-color: #222222;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 999;
    justify-content: space-between;
}

/*regole dei tools*/
.tool {
   color: #fff; 
   cursor: pointer;
}

.tool i{
    font-size: 35px;
    margin-bottom: 10px;
    
}

.tool .fas.fa-chevron-up{
    font-size: 10px;
    margin-bottom: 0px;
}

.tool .fas.fa-share-square{
    color: #4bc801;
}


.button-box.right .tool{
    color: #ff0000;
    background-color: #4a4a4a;
    padding: 0 20px;
    font-size: 14px;
}

.button-box.left .tool{
    margin: 0 10px;
}

.button-box.center .tool{
    margin: 0 10px;
}

